<div class="simple-container">
        <div class="simple-container-row">
            <label style="align-self:center">Investment Info</label>
        </div>
        <div class="simple-container-row" style="align-items:stretch">
            <input style="text-align: center; cursor: pointer;" type="text" id="Invested" placeholder="Invested" readonly>
            <input style="margin-left: 5px; text-align: center; cursor: pointer;" type="text" id="InvestedBlack" placeholder="Invested" readonly>
        </div>
        <div class="simple-container-row">
            <label style="align-self:center">Wagered</label>
        </div>
        <div class="simple-container-row" style="align-items:stretch">
            <input style="text-align: center; cursor: pointer;" type="text" placeholder="wageredB" id="Wagered" readonly>
            <input id="WageredBlack" type="text" placeholder="WageredBlack" style="text-align: center;  cursor: pointer; caret-color: transparent;" readonly>
            <input style="width: 50px; margin-left: 5px; text-align: center; cursor: pointer;" type="text" placeholder="Bets" id="NBets" readonly>
        </div>
        <div class="simple-container-row">
            <label style="align-self:center;">Technical Info</label>
        </div>
        <div class="simple-container-row" style="align-items: stretch;">
            <input style="text-align: center; cursor: pointer;" type="text" placeholder="Device ID" id="DeviceID" readonly>
            <input style="text-align: center; cursor: pointer;" type="text" placeholder="Version" id="Version" readonly>
        </div>
      </div>