<div class="simple-container">
    <div class="simple-container-row" style="justify-content:space-evenly; height:unset">
        <label>Amount</label>
        <label>Return (on win)</label>
    </div>
    <div class="simple-container-row">
        <input min="0" type="text" id="Amount" onchange="calculateReturn()">
        <input style="margin-left: 5px" type="text" id="WinAmount" readonly>
    </div>
    <div class="simple-container-row">
      <label>Target</label>
	  <label></label>
    </div>
    <div class="simple-container-row">
        <input min="1" max="99" step="0.01" type="number" id="Target" value="50" onchange="calculateReturn()">
        <input style="text-align: center; margin-left: 5px; cursor: pointer; caret-color: transparent;" value="Higher" id="HiLo" onclick="HiLo()" readonly>
    </div>
    <div class="simple-container-row" style="margin-bottom: 5px; margin-top: 5%">
        <button style="background-color: green; color: navajowhite; border-color: darkgreen" onclick="bet()" class="btn">Bet</button>
        <div class="simple-container-col" style="margin-left: 2px; width: auto; height: auto">
            <button style="background-color: orange; color: navajowhite; border-color: darkorange; height: 34px; margin-bottom: 2px" class="btn-mini" onclick="double()">2x</button>
            <button style="background-color: cyan; color: darkorange; border-color: lightskyblue; height: 34px" class="btn-mini" onclick="half()">1/2x</button>
        </div>
    </div>
	<div class="simple-container-row" style="align-self: center">
      <label>Server Seed Hash</label>
    </div>
	<div class="simple-container-row" style="height: 22px; margin-top: 5px;"><input style="text-align: center; margin-left: 5px; cursor: pointer; caret-color: transparent;" id="SHash"></div>
  </div>
  <div id="betAnchor" class="bet-container"></div>