<div class="simple-container">
<div class="simple-container-row">
    <input id="Friend" style="text-align: center;" type="text" placeholder="Device ID">
    <input id="Choice" size="1" style="margin-left: 5px; text-align: center; cursor: pointer;" type="text" value="R" onclick="switchRPS()" readonly>
</div>
<div class="simple-container-row">
    <input id="Amount" style="text-align: right;" type="text" placeholder="Amount">
</div>
<button style="background-color: green; color: navajowhite; border-color: darkgreen; margin-top: 5px; align-self: center" onclick="inviteRPS()" class="btn-mini">Send invite</button>
</div>