<div id="myModal" class="modal">
  <div class="modal-content" style="overflow: hidden;">
      <div style="text-align:center; color: navajowhite">Select a game to join</div>
      <div id="RPSList" class="simple-content-col" style="overflow-y:scroll; max-height: 490px">
      </div>
      <button style="background-color: orange;  color: navajowhite; border-color: darkgoldenrod; justify-self: center; align-self: center" onclick="closeJoinRPS()" class="btn">Close</button>
  </div>
</div>