.cssload-bell {
    width: 95px;
    height: 97px;
    border-radius: 100%;
    position: absolute;
    left: calc(50% - 47px);
}

.cssload-circle {
    width: 100%;
    height: 100%;
    position: absolute;
}
.cssload-circle .cssload-inner {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 5px solid rgba(66,66,66,0.7);
    border-right: none;
    border-top: none;
    box-shadow: inset 0 0 9px rgba(0,0,0,0.15);
}

.cssload-circle:nth-of-type(0) {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
}
.cssload-circle:nth-of-type(0) .cssload-inner {
    animation: cssload-spin 1s infinite linear;
    -webkit-animation: cssload-spin 1s infinite linear;
}

.cssload-circle:nth-of-type(1) {
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
}
.cssload-circle:nth-of-type(1) .cssload-inner {
    animation: cssload-spin 1s infinite linear;
    -webkit-animation: cssload-spin 1s infinite linear;
}

.cssload-circle:nth-of-type(2) {
    transform: rotate(140deg);
    -webkit-transform: rotate(140deg);
}
.cssload-circle:nth-of-type(2) .cssload-inner {
    animation: cssload-spin 1s infinite linear;
    -webkit-animation: cssload-spin 1s infinite linear;
}

.cssload-bell {
    animation: cssload-spin 2.5s infinite linear;
    -webkit-animation: cssload-spin 2.5s infinite linear;
}



@keyframes cssload-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-top: -14.5vh;
    margin-left: auto;
    margin-right: auto;
}
::-webkit-scrollbar {
    display: none;
}