<div class="simple-container">
    <select id="bet" style="text-align:center; background: lime; color: darkslateblue">
      <option>1K⚪</option>
      <option>10K⚪</option>
      <option>20K⚪</option>
      <option>50K⚪</option>
      <option>100K⚪</option>
    </select>
    <div class="simple-container-row" style="flex-grow:1">
        <div class="simple-container-col">
            <div class="cell"><div>0</div></div>
            <div class="cell"><div>10</div></div>
            <div class="cell"><div>20</div></div>
            <div class="cell"><div>30</div></div>
            <div class="cell"><div>40</div></div>
            <div class="cell"><div>50</div></div>
            <div class="cell"><div>60</div></div>
            <div class="cell"><div>70</div></div>
            <div class="cell"><div>80</div></div>
            <div class="cell"><div>90</div></div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 1</div>
            <div class="cell"> 11</div>
            <div class="cell"> 21</div>
            <div class="cell"> 31</div>
            <div class="cell"> 41</div>
            <div class="cell"> 51</div>
            <div class="cell"> 61</div>
            <div class="cell"> 71</div>
            <div class="cell"> 81</div>
            <div class="cell"> 91</div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 2</div>
            <div class="cell"> 12</div>
            <div class="cell"> 22</div>
            <div class="cell"> 32</div>
            <div class="cell"> 42</div>
            <div class="cell"> 52</div>
            <div class="cell"> 62</div>
            <div class="cell"> 72</div>
            <div class="cell"> 82</div>
            <div class="cell"> 92</div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 3</div>
            <div class="cell"> 13</div>
            <div class="cell"> 23</div>
            <div class="cell"> 33</div>
            <div class="cell"> 43</div>
            <div class="cell"> 53</div>
            <div class="cell"> 63</div>
            <div class="cell"> 73</div>
            <div class="cell"> 83</div>
            <div class="cell"> 93</div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 4</div>
            <div class="cell"> 14</div>
            <div class="cell"> 24</div>
            <div class="cell"> 34</div>
            <div class="cell"> 44</div>
            <div class="cell"> 54</div>
            <div class="cell"> 64</div>
            <div class="cell"> 74</div>
            <div class="cell"> 84</div>
            <div class="cell"> 94</div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 5</div>
            <div class="cell"> 15</div>
            <div class="cell"> 25</div>
            <div class="cell"> 35</div>
            <div class="cell"> 45</div>
            <div class="cell"> 55</div>
            <div class="cell"> 65</div>
            <div class="cell"> 75</div>
            <div class="cell"> 85</div>
            <div class="cell"> 95</div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 6</div>
            <div class="cell"> 16</div>
            <div class="cell"> 26</div>
            <div class="cell"> 36</div>
            <div class="cell"> 46</div>
            <div class="cell"> 56</div>
            <div class="cell"> 66</div>
            <div class="cell"> 76</div>
            <div class="cell"> 86</div>
            <div class="cell"> 96</div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 7</div>
            <div class="cell"> 17</div>
            <div class="cell"> 27</div>
            <div class="cell"> 37</div>
            <div class="cell"> 47</div>
            <div class="cell"> 57</div>
            <div class="cell"> 67</div>
            <div class="cell"> 77</div>
            <div class="cell"> 87</div>
            <div class="cell"> 97</div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 8</div>
            <div class="cell"> 18</div>
            <div class="cell"> 28</div>
            <div class="cell"> 38</div>
            <div class="cell"> 48</div>
            <div class="cell"> 58</div>
            <div class="cell"> 68</div>
            <div class="cell"> 78</div>
            <div class="cell"> 88</div>
            <div class="cell"> 98</div>
        </div>
        <div class="simple-container-col">
            <div class="cell"> 9</div>
            <div class="cell"> 19</div>
            <div class="cell"> 29</div>
            <div class="cell"> 39</div>
            <div class="cell"> 49</div>
            <div class="cell"> 59</div>
            <div class="cell"> 69</div>
            <div class="cell"> 79</div>
            <div class="cell"> 89</div>
            <div class="cell"> 99</div>
        </div>
    </div>
</div>