<div class="simple-container">
  <div class="simple-container-row" style="align-self: stretch;">
      <div style="background: #252323; text-align: center; color: white; align-self: center; flex-grow: 1; width: 95%; border-radius: 4px;font-size: 18px">Rock Paper Scissors</div>
  </div>
  <div class="simple-container-row" style="align-self: stretch; margin-top: 40px">
      <button id="invite" style="background-color: green; color: navajowhite; border-color: darkgreen" onclick="loadInviteRPS()" class="btn-mini">Invite</button>
      <button id="join" style="background-color: orange; color: navajowhite; margin-left: 5px; border-color: darkgoldenrod" onclick="loadJoinRPS()" class="btn-mini">Join Game</button>
  </div>
  <div id="rpsAnchor" class="simple-container-row" style="align-self: stretch; margin-top: 10px">
  </div>
</div>