<div class="simple-container">
    <div class="simple-container-row" style="align-self: flex-start; max-height: 10%;">
        <input type="text" id="amount">
    <div class="btn" style="background: green; margin-left:5px; height: 30px; border-color: darkgreen" id="roll">Roll</div>
    </div>
    <canvas style="border-radius: 4px;"></canvas>
</div>