<div class="simple-container">
  <div class="simple-container-row">
      <label>Server Seed</label>
      <label>Bet #</label>
  </div>
  <div class="simple-container-row">
      <input type="text" id="Seed" style="text-align:left">
      <input style="margin-left: 5px" type="number" id="BetN">
  </div>
  <label>Result</label>
  <div class="simple-container-row">
      <input type="number" id="Result" readonly>
  </div>
  <div class="simple-container-row" style="margin-top: 40px;">
      <button style="background-color: green; color: navajowhite; border-color: darkgreen" onclick="verify()" class="btn">Verify</button>
  </div>
</div>